---
import { getCollection } from 'astro:content';
const docs = await getCollection('docs');
import {Code} from '@astrojs/starlight/components'
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>Astro Basics</title>
</head>
<body>
<Code code={JSON.stringify(docs, null, 2)}/>
</body>
</html>
<style>
	body {
		background: #000;
	}
</style>